body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4fc3f7, #0288d1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    color: rgb(215, 8, 139);
}

.hidden {
  display: none;
}

canvas {
  background-color: #b3e5fc;
  border: 3px solid white;
  border-radius: 15px;
}

.game-info {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}

.game-info {
    font-size: 28px;
    color: #00ffff;

    text-shadow:
        0 0 5px #00ffff,
        0 0 10px #00ffff,
        0 0 20px #00ffff;
}